<div style="margin-bottom: 16px;">
  <button nz-button (click)="exportAsExcelFile()">导出学员-课程数据</button>
</div>

<div nz-row>
  <div nz-col nzSpan="8">
    <nz-table
        #dynamicTable
        nzBordered
        [nzData]="listOfData"
        [nzShowSizeChanger]="true"
        [nzFrontPagination]="true"
        [nzShowPagination]="true"
        [nzFooter]="'学员-课程数据'"
        [nzScroll]="fixHeader ? { y: '270px' } : null"
    >
      <thead>
      <tr>
        <th nzWidth="150px">学员</th>
        <th nzWidth="150px">课程</th>
        <th nzWidth="100px">编辑</th>
      </tr>
      </thead>
      <tbody>
      <ng-template  ngFor let-data [ngForOf]="dynamicTable.data">
        <tr>
          <!--    data.stu_account  data.course_id -->
          <td><a (click)="singletableGraph(data.source )">{{ data.source }}</a> </td>
          <td><a (click)="singletableGraph2(data.target )">{{ data.target }}</a> </td>
          <td>
            <a>编辑</a>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="16">
    <div echarts [options]="option_table_graph"></div>
  </div>
</div>

