<nz-layout *ngIf= "isLogged; else falsyTemplate;" class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">

   <span>
     <img src="../assets/img/logo.png" height="64" width="64" (click)="isCollapsed = !isCollapsed" />
      <h1>宝妈商学院</h1>
      </span>

    </div>

    <ul  nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="后台管理" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stu-admin"  (click)="newTab('学员管理')">学员管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/course-admin" (click)="newTab('课程管理')" >课程管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/card-admin"  (click)="newTab('打卡管理')">打卡管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stu-course"  (click)="newTab('学员课程')">学员课程</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row>
          <div nz-col nzSpan="1">
                  <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger"
                       nz-icon
                       [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    ></i>
                  </span>
          </div>
          <div nz-col nzSpan="19">
            <h2>宝妈商学院后台管理</h2>
          </div>
          <div nz-col nzSpan="4">
            <div style="margin-left: 75%;">
              <a nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
                <img src="../assets/img/user.png" height="64" width="64"/>
              </a>
            </div>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable class="user-info">
                <li nz-menu-item class="user-info-title">用户信息</li>
                <li nz-menu-divider></li>
                <li nz-menu-item style="text-align: center">{{loginstatus.administrator_account}}</li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <a (click)="signOut()">
                    <img src="../assets/img/sign-out.png" height="16" width="16"/>
                    退出
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-tabset [nzType]="'line'" [nzSelectedIndex]="index" [nzTabPosition]="'top'">
          <nz-tab  *ngFor="let tab of tabs" [nzTitle]="titleTemplate"  style="width: 100px;">
            <ng-template #titleTemplate>
              <div>
                {{ tab }}
                <i nz-icon nzType="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
              </div>
            </ng-template>
            <app-stu-admin *ngIf="tab == '学员管理'" ></app-stu-admin>
            <app-course-admin *ngIf="tab == '课程管理'" ></app-course-admin>
            <app-card-admin *ngIf="tab == '打卡管理'" ></app-card-admin>
            <app-stu-course-admin *ngIf="tab == '学员课程'" ></app-stu-course-admin>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #falsyTemplate>
  <div>
    <app-login (loginMsg)="getLoginMsg($event)" ></app-login>
  </div>
</ng-template>
